.gridContainer {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
}

@media only screen and (min-width: 660px) {
  .gridContainer {
    grid-template-columns: repeat(2, 300px) !important;
  }
}

@media only screen and (min-width: 990px) {
  .gridContainer {
    grid-template-columns: repeat(3, 300px) !important;
  }
}

@media only screen and (min-width: 1210px) {
  .gridContainer {
    padding: 0 1.5rem;
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
